body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

form {
    margin: 20px auto;
    display: inline-block;
    text-align: left;
}

